<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TI - Informatico</title>
<link rel="stylesheet" href="../css/style.css">
</head>
<body>

	 <div id="cabecalho">
	 <h3 id="start">MKT - Computer <strong> LD</strong></h3>
	 </div>

	 <div id="link">
		<a href="../Index.html"><strong>Início</strong></a>
		<a href="./Produto.html">Produtos</a>
		<a href="./Itens.html">Itens</a>
		<a href="./Sobre.html">Sobre nós</a>
		<a href="./Contatos.html">Contactos</a>
	 </div>
	 <div id="for">
	   <img src="../imagens/Index.jpg" width="40%" height="550px"
	   style="border-top-right-radius: 70%; border-bottom-left-radius: 70%;">
	 </div>

	 <div class="form">
		<h3>Envie o seu comentário:</h3>
	 </div>
	 

</body>
</html>