<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TI - Informatico</title>
<link rel="stylesheet" href="../css/style.css">
</head>
<body>
	 <div id="cabecalho">
	 <h3 id="start">MKT - Computer <strong> LD</strong></h3>
	 </div>

	 <div id="link">
		<a href="../Index.html"><strong>Início</strong></a>
		<a href="./Produto.html">Produtos</a>
		<a href="./Itens.html">Itens</a>
		<a href="./Sobre.html">Sobre nós</a>
		<a href="./Contatos.html">Contactos</a>
	 </div>

	 <br><b>
		<nav>
			<h4 style="margin-top: -15px;">Produtos</h4>
		<form action="">
			<select name="produtos" id="IProdutos">
				<option value=""></option>
				<option value="Computador"onclick="mostrarTela('tela1')">Computador</option>
				<option value="Mouse" onclick="mostrarTela('tela2')">Mouse</option>
				<option value="Teclados" onclick="mostrarTela('tela3')">Teclados</option>
			</select>
		</form>
		
		</nav>

    <div id="tela1" class="tela">
			<h3 id="center"><Strong>Computadores</Strong></h3>
			<img src="../imagens/Index.jpg" width="300px" height="150px">	
			<div class="rating">
				<ul>
					<li class="star" data-value="1">&#9733;</li>
					<li class="star" data-value="2">&#9733;</li>
					<li class="star" data-value="3">&#9733;</li>
					<li class="star" data-value="4">&#9733;</li>
					<li class="star" data-value="5">&#9733;</li>
				</ul>
			</div>
			<img src="../imagens/Index.jpg" width="300px" height="150px">	
			<div class="rating">
				<ul>
					<li class="star" data-value="1">&#9733;</li>
					<li class="star" data-value="2">&#9733;</li>
					<li class="star" data-value="3">&#9733;</li>
					<li class="star" data-value="4">&#9733;</li>
					<li class="star" data-value="5">&#9733;</li>
				</ul>
			</div>
			<img src="../imagens/Index.jpg" width="300px" height="150px">	
			<div class="rating">
				<ul>
					<li class="star" data-value="1">&#9733;</li>
					<li class="star" data-value="2">&#9733;</li>
					<li class="star" data-value="3">&#9733;</li>
					<li class="star" data-value="4">&#9733;</li>
					<li class="star" data-value="5">&#9733;</li>
				</ul>
			</div>
			<div id="centralizador">

				<img src="../imagens/Index.jpg" width="300px" height="170px">
			<div class="rating">
				<ul>
					<li class="star" data-value="1">&#9733;</li>
					<li class="star" data-value="2">&#9733;</li>
					<li class="star" data-value="3">&#9733;</li>
					<li class="star" data-value="4">&#9733;</li>
					<li class="star" data-value="5">&#9733;</li>
				</ul>
			</div>	
			<img src="../imagens/Index.jpg" width="300px" height="170px">
			<div class="rating">
				<ul>
					<li class="star" data-value="1">&#9733;</li>
					<li class="star" data-value="2">&#9733;</li>
					<li class="star" data-value="3">&#9733;</li>
					<li class="star" data-value="4">&#9733;</li>
					<li class="star" data-value="5">&#9733;</li>
				</ul>
			</div>	
			<img src="../imagens/Index.jpg" width="300px" height="170px">
			<div class="rating">
				<ul>
					<li class="star" data-value="1">&#9733;</li>
					<li class="star" data-value="2">&#9733;</li>
					<li class="star" data-value="3">&#9733;</li>
					<li class="star" data-value="4">&#9733;</li>
					<li class="star" data-value="5">&#9733;</li>
				</ul>
			</div>	
			</div>

			<div id="central">
				<img src="../imagens/Index.jpg" width="300px" height="170px">	
			<div class="rating">
				<ul>
					<li class="star" data-value="1">&#9733;</li>
					<li class="star" data-value="2">&#9733;</li>
					<li class="star" data-value="3">&#9733;</li>
					<li class="star" data-value="4">&#9733;</li>
					<li class="star" data-value="5">&#9733;</li>
				</ul>
			</div>
			<img src="../imagens/Index.jpg" width="300px" height="170px">	
			<div class="rating">
				<ul>
					<li class="star" data-value="1">&#9733;</li>
					<li class="star" data-value="2">&#9733;</li>
					<li class="star" data-value="3">&#9733;</li>
					<li class="star" data-value="4">&#9733;</li>
					<li class="star" data-value="5">&#9733;</li>
				</ul>
			</div>
			<img src="../imagens/Index.jpg" width="300px" height="170px">
			<div class="rating">
				<ul>
					<li class="star" data-value="1">&#9733;</li>
					<li class="star" data-value="2">&#9733;</li>
					<li class="star" data-value="3">&#9733;</li>
					<li class="star" data-value="4">&#9733;</li>
					<li class="star" data-value="5">&#9733;</li>
				</ul>
			</div>	
			</div>
    </div>

    <div id="tela2" class="tela" style="display: none;">
			<h3 id="center"><Strong>Computadores</Strong></h3>
			<img src="../imagens/Index.jpg" width="300px" height="150px">	
			<div class="rating">
				<ul>
					<li class="star" data-value="1">&#9733;</li>
					<li class="star" data-value="2">&#9733;</li>
					<li class="star" data-value="3">&#9733;</li>
					<li class="star" data-value="4">&#9733;</li>
					<li class="star" data-value="5">&#9733;</li>
				</ul>
			</div>
			<img src="../imagens/Index.jpg" width="300px" height="150px">	
			<div class="rating">
				<ul>
					<li class="star" data-value="1">&#9733;</li>
					<li class="star" data-value="2">&#9733;</li>
					<li class="star" data-value="3">&#9733;</li>
					<li class="star" data-value="4">&#9733;</li>
					<li class="star" data-value="5">&#9733;</li>
				</ul>
			</div>
			<img src="../imagens/Index.jpg" width="300px" height="150px">	
			<div class="rating">
				<ul>
					<li class="star" data-value="1">&#9733;</li>
					<li class="star" data-value="2">&#9733;</li>
					<li class="star" data-value="3">&#9733;</li>
					<li class="star" data-value="4">&#9733;</li>
					<li class="star" data-value="5">&#9733;</li>
				</ul>
			</div>
			<div id="centralizador">

				<img src="../imagens/Index.jpg" width="300px" height="170px">
			<div class="rating">
				<ul>
					<li class="star" data-value="1">&#9733;</li>
					<li class="star" data-value="2">&#9733;</li>
					<li class="star" data-value="3">&#9733;</li>
					<li class="star" data-value="4">&#9733;</li>
					<li class="star" data-value="5">&#9733;</li>
				</ul>
			</div>	
			<img src="../imagens/Index.jpg" width="300px" height="170px">
			<div class="rating">
				<ul>
					<li class="star" data-value="1">&#9733;</li>
					<li class="star" data-value="2">&#9733;</li>
					<li class="star" data-value="3">&#9733;</li>
					<li class="star" data-value="4">&#9733;</li>
					<li class="star" data-value="5">&#9733;</li>
				</ul>
			</div>	
			<img src="../imagens/Index.jpg" width="300px" height="170px">
			<div class="rating">
				<ul>
					<li class="star" data-value="1">&#9733;</li>
					<li class="star" data-value="2">&#9733;</li>
					<li class="star" data-value="3">&#9733;</li>
					<li class="star" data-value="4">&#9733;</li>
					<li class="star" data-value="5">&#9733;</li>
				</ul>
			</div>	
			</div>

			<div id="central">
				<img src="../imagens/Index.jpg" width="300px" height="170px">	
			<div class="rating">
				<ul>
					<li class="star" data-value="1">&#9733;</li>
					<li class="star" data-value="2">&#9733;</li>
					<li class="star" data-value="3">&#9733;</li>
					<li class="star" data-value="4">&#9733;</li>
					<li class="star" data-value="5">&#9733;</li>
				</ul>
			</div>
			<img src="../imagens/Index.jpg" width="300px" height="170px">	
			<div class="rating">
				<ul>
					<li class="star" data-value="1">&#9733;</li>
					<li class="star" data-value="2">&#9733;</li>
					<li class="star" data-value="3">&#9733;</li>
					<li class="star" data-value="4">&#9733;</li>
					<li class="star" data-value="5">&#9733;</li>
				</ul>
			</div>
			<img src="../imagens/Index.jpg" width="300px" height="170px">
			<div class="rating">
				<ul>
					<li class="star" data-value="1">&#9733;</li>
					<li class="star" data-value="2">&#9733;</li>
					<li class="star" data-value="3">&#9733;</li>
					<li class="star" data-value="4">&#9733;</li>
					<li class="star" data-value="5">&#9733;</li>
				</ul>
			</div>	
			</div>
    </div>

    <div id="tela3" class="tela" style="display: none;">
        <h3 id="center"><Strong>Computadores</Strong></h3>
			<img src="../imagens/Index.jpg" width="300px" height="150px">	
			<div class="rating">
				<ul>
					<li class="star" data-value="1">&#9733;</li>
					<li class="star" data-value="2">&#9733;</li>
					<li class="star" data-value="3">&#9733;</li>
					<li class="star" data-value="4">&#9733;</li>
					<li class="star" data-value="5">&#9733;</li>
				</ul>
			</div>
			<img src="../imagens/Index.jpg" width="300px" height="150px">	
			<div class="rating">
				<ul>
					<li class="star" data-value="1">&#9733;</li>
					<li class="star" data-value="2">&#9733;</li>
					<li class="star" data-value="3">&#9733;</li>
					<li class="star" data-value="4">&#9733;</li>
					<li class="star" data-value="5">&#9733;</li>
				</ul>
			</div>
			<img src="../imagens/Index.jpg" width="300px" height="150px">	
			<div class="rating">
				<ul>
					<li class="star" data-value="1">&#9733;</li>
					<li class="star" data-value="2">&#9733;</li>
					<li class="star" data-value="3">&#9733;</li>
					<li class="star" data-value="4">&#9733;</li>
					<li class="star" data-value="5">&#9733;</li>
				</ul>
			</div>
			<div id="centralizador">

				<img src="../imagens/Index.jpg" width="300px" height="170px">
			<div class="rating">
				<ul>
					<li class="star" data-value="1">&#9733;</li>
					<li class="star" data-value="2">&#9733;</li>
					<li class="star" data-value="3">&#9733;</li>
					<li class="star" data-value="4">&#9733;</li>
					<li class="star" data-value="5">&#9733;</li>
				</ul>
			</div>	
			<img src="../imagens/Index.jpg" width="300px" height="170px">
			<div class="rating">
				<ul>
					<li class="star" data-value="1">&#9733;</li>
					<li class="star" data-value="2">&#9733;</li>
					<li class="star" data-value="3">&#9733;</li>
					<li class="star" data-value="4">&#9733;</li>
					<li class="star" data-value="5">&#9733;</li>
				</ul>
			</div>	
			<img src="../imagens/Index.jpg" width="300px" height="170px">
			<div class="rating">
				<ul>
					<li class="star" data-value="1">&#9733;</li>
					<li class="star" data-value="2">&#9733;</li>
					<li class="star" data-value="3">&#9733;</li>
					<li class="star" data-value="4">&#9733;</li>
					<li class="star" data-value="5">&#9733;</li>
				</ul>
			</div>	
			</div>

			<div id="central">
				<img src="../imagens/Index.jpg" width="300px" height="170px">	
			<div class="rating">
				<ul>
					<li class="star" data-value="1">&#9733;</li>
					<li class="star" data-value="2">&#9733;</li>
					<li class="star" data-value="3">&#9733;</li>
					<li class="star" data-value="4">&#9733;</li>
					<li class="star" data-value="5">&#9733;</li>
				</ul>
			</div>
			<img src="../imagens/Index.jpg" width="300px" height="170px">	
			<div class="rating">
				<ul>
					<li class="star" data-value="1">&#9733;</li>
					<li class="star" data-value="2">&#9733;</li>
					<li class="star" data-value="3">&#9733;</li>
					<li class="star" data-value="4">&#9733;</li>
					<li class="star" data-value="5">&#9733;</li>
				</ul>
			</div>
			<img src="../imagens/Index.jpg" width="300px" height="170px">
			<div class="rating">
				<ul>
					<li class="star" data-value="1">&#9733;</li>
					<li class="star" data-value="2">&#9733;</li>
					<li class="star" data-value="3">&#9733;</li>
					<li class="star" data-value="4">&#9733;</li>
					<li class="star" data-value="5">&#9733;</li>
				</ul>
			</div>	
			</div>
    </div>

	<script src="../js/script.js"></script>
</body>
</html>