<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Pagina Inicial</title>
<link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div id="cabecalho">
        <h3 id="start">MKT - Computer <strong> LD</strong></h3>
        </div>
        <br><br>
        <div id="iform">
            <img src="../imagens/mkt.png">
            <form action="" style="margin-left: 500px;">
                <label for="iusername" style="margin-left: 11px;">Usuário: </label>
                <input type="text" name="username" id="iusername" placeholder="Enter username" style="margin-left: 3px;">
                <br> <br>
                <label for="ipassword">Password: </label>
                <input type="password" name="password" id="ipassword" placeholder="Enter Password">
                <br>
                <button style="margin-left: 138px; color: black; width: 80px; margin-top: 10px;">Login</button>
            </form>

        </div>
</body>
</html>