<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TI - Informatico</title>
<link rel="stylesheet" href="./css/style.css">
</head>
<body>
	 <div id="cabecalho">
	 <h3 id="start">MKT - Computer <strong> LD</strong></h3>
	 </div>

	 <div id="link">
		<a href="Index.html"><strong>Início</strong></a>
		<a href="./html/Produto.html">Produtos</a>
		<a href="./html/Itens.html">Itens</a>
		<a href="./html/Sobre.html">Sobre nós</a>
		<a href="./html/Contatos.html">Contactos</a>
	 </div>
	 <br><br>
	 <div class="slideshow-container">
		<div class="mySlides">
			<img src="../view/imagens/Index.jpg" style="width:100%">
		</div>
	
		<div class="mySlides">
			<img src="../view/imagens/laptop.jpg" style="width:100%">
		</div>
	
		<div class="mySlides">
			<img src="../view/imagens/office.jpg" style="width:90%">
		</div>
	
		<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
		<a class="next" onclick="plusSlides(1)">&#10095;</a>
	</div>
	 
	<br>
	
	<div style="text-align:center">
		<span class="dot" onclick="currentSlide(1)"></span>
		<span class="dot" onclick="currentSlide(2)"></span>
		<span class="dot" onclick="currentSlide(3)"></span>
	</div>
	<!-- Link to external JavaScript file -->
	<script src="../view/js/script.js"></script>

</body>
</html>